.contenu {
    background: rgba(255, 255, 255, 0.7);
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

div#loader {
    position: fixed;
    /*width:100%;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 50vh;
    text-align: center;
    width: inherit;
    height: inherit;
    /*margin-left: auto;
  margin-right: auto; */
    z-index: 9999;
}

@keyframes juggler {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    12.5% {
        transform: translateX(-20px) translateY(40px) scale(1.1);
    }
    25% {
        transform: translateX(-40px) translateY(0px);
    }
    37.5% {
        transform: translateX(-20px) translateY(-40px);
    }
    50% {
        transform: translateX(0px) translateY(0px);
    }
    62.5% {
        transform: translateX(20px) translateY(40px) scale(1.1);
    }
    75% {
        transform: translateX(40px) translateY(0px);
    }
    87.5% {
        transform: translateX(20px) translateY(-40px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

span.ball {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    animation: juggler 1.8s linear infinite;
}

span.ball:nth-child(1) {
    background: radial-gradient(ellipse at center, #c52214 0%, #da3628 100%);
    animation-delay: -0.6s;
}

span.ball:nth-child(2) {
    background: radial-gradient(ellipse at center, #306ed6 0%, #4285f4 100%);
    animation-delay: -1.2s;
}

span.ball:nth-child(3) {
    background: radial-gradient(ellipse at center, #d29d04 0%, #fbbc05 100%);
}

.bc-icons-2 .breadcrumb-item+.breadcrumb-item::before {
    content: none;
}

.bc-icons-2 .breadcrumb-item.active {
    color: #455a64;
}


/* ------------------------- Separate line ------------------------- */

:root {
    --breadcrumb-theme-1: #f44336;
    --breadcrumb-theme-2: #fff;
    --breadcrumb-theme-3: #d80d52;
    --breadcrumb-theme-4: #880e4f;
}

.breadcrumb {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    counter-reset: flag;
}

@media all and (max-device-width: 480px) {
    /* Vos règles CSS pour les mobiles ici */
    .breadcrumb__step {
        width: 15%;
    }
}

@media all and (max-device-width: 850px) {
    /* Vos règles CSS pour les mobiles ici */
    .breadcrumb__step {
        width: 25%;
    }
}

@media all and (max-device-width: 980px) {
    /* Vos règles CSS pour les mobiles ici */
    .breadcrumb__step {
        width: 25%;
    }
}

@media all and (max-device-width: 800px) {
    /* Vos règles CSS pour les mobiles ici */
    .breadcrumb__step {
        width: 25%;
    }
}

.breadcrumb__step {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 36px;
    padding: 0 10px 0 60px;
    position: relative;
    width: 25%;
    background: var(--breadcrumb-theme-2);
    color: var(--breadcrumb-theme-1);
    transition: background 0.5s;
}

.breadcrumb__step:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
}

.breadcrumb__step:first-child::before {
    left: 14px;
}

.breadcrumb__step:last-child {
    border-radius: 0 5px 5px 0;
    padding-right: 20px;
}

.breadcrumb__step:last-child::after {
    content: none;
}

.breadcrumb__step::before {
    content: counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: bold;
    background: var(--breadcrumb-theme-2);
    box-shadow: 0 0 0 1px var(--breadcrumb-theme-1);
}

.breadcrumb__step::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    border-radius: 0 5px 0 50px;
    background: var(--breadcrumb-theme-2);
    transition: background 0.5s;
    box-shadow: 2px -2px 0 2px var(--breadcrumb-theme-4);
}

.breadcrumb__step--active {
    color: var(--breadcrumb-theme-2);
    background: var(--breadcrumb-theme-1);
}

.breadcrumb__step--active::before {
    color: var(--breadcrumb-theme-1);
}

.breadcrumb__step--active::after {
    background: var(--breadcrumb-theme-1);
}

.breadcrumb__step:hover {
    color: var(--breadcrumb-theme-2);
    background: var(--breadcrumb-theme-3);
}

.breadcrumb__step:hover::before {
    color: var(--breadcrumb-theme-1);
}

.breadcrumb__step:hover::after {
    color: var(--breadcrumb-theme-1);
    background: var(--breadcrumb-theme-3);
}

.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: var(--grey);
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
    opacity: 0;
}

.progress-wrap::before {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
    opacity: 1;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: var(--grey);
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

body .progress-wrap {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
}

body .progress-wrap::after {
    color: var(--black-blue);
}

body .progress-wrap svg.progress-circle path {
    stroke: var(--black-blue);
}